{% extends '@FOSMessage/layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}search{% endtrans %}</h2>

<p>{% trans threads|length with {'%count%': threads|length } from 'FOSMessageBundle' %}
    threads_found
{% endtrans %}</p>

{% include '@FOSMessage/Message/threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
